<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="AkinsoftVmodulu.UI.BackOffice.Properties.Settings.D__AKINSOFT_WOLVOX8_001_2020_WOLVOXConnectionString" connectionString="Data Source=192.168.44.254,1433;Initial Catalog=WOLVOX8_001_2021_WOLVOX;Persist Security Info=True;User ID=sa;Password=Abc123+-*q1" providerName="System.Data.SqlClient" />
    <add name="AkinsoftVmodulu.UI.BackOffice.Properties.Settings.D__AKINSOFT_WOLVOX8_DOSYAConnectionString" connectionString="Data Source=192.168.44.254,1433;Initial Catalog=WOLVOX8_DOSYA;User ID=sa;Password=Abc123+-*q1" providerName="System.Data.SqlClient" />
    <add name="AkinsoftVmodulu.UI.BackOffice.Properties.Settings.D__AKINSOFT_WOLVOX8_001_2020_WOLVOXConnectionString1" connectionString="Data Source=192.168.44.254,1433;Initial Catalog=WOLVOX8_001_2021_WOLVOX;Persist Security Info=True;User ID=sa;Password=Abc123+-*q1" providerName="System.Data.SqlClient" />
    <add name="AkinsoftVmodulu.UI.BackOffice.Properties.Settings.D__AKINSOFT_WOLVOX8_SIRKETConnectionString" connectionString="Data Source=192.168.44.254,1433;Initial Catalog=WOLVOX8_SIRKET;User ID=sa;Password=Abc123+-*q1" providerName="System.Data.SqlClient" />
    <add name="AkinsoftVmodulu.UI.BackOffice.Properties.Settings.WOLVOX8_SIRKETConnectionString" connectionString="Data Source=192.168.44.254;Initial Catalog=WOLVOX8_SIRKET;User ID=sa;Password=Abc123+-*q1" providerName="System.Data.SqlClient" />
    <add name="AkinsoftVmodulu.UI.BackOffice.Properties.Settings.WOLVOX8_001_2021_WOLVOXConnectionString" connectionString="Data Source=192.168.44.254;Initial Catalog=WOLVOX8_001_2021_WOLVOX;User ID=sa;Password=Abc123+-*q1" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value>System</value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DefaultAppSkin" serializeAs="String">
        <value>Skin/Dark Side</value>
      </setting>
      <setting name="DefaultPalette" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CompactUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchScaleFactor" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DirectX" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RegisterUserSkins" serializeAs="String">
        <value></value>
      </setting>
      <setting name="FontBehavior" serializeAs="String">
        <value>UseWindowsFont</value>
      </setting>
      <setting name="DefaultAppFont" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CustomPaletteCollection" serializeAs="Xml">
        <value />
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.2" newVersion="5.0.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>